<div class="container">
	<div class="row make-block">
		<a href=<%= root_path %>>
			<div style="display:inline-block;" class="responsive-logo"></div>
		</a>
		<div class="pullcontainer">
			<a href="#" id="pull"><i class="fa fa-bars fa-2x"></i></a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<nav>
				<div class="col-md-3 make-float">
					<a href=<%= root_path %>>
						<div class="logo-holder l_spacer"></div>
					</a>
				</div>	
				<div class="col-md-7 make-full-width">
					<ul class="clearfix nav-bar">
						<li><%= link_to "Shop", home_shop_path%></li>
						<li><%= link_to "About Us", home_about_us_path%></li>
						<li><%= link_to "Doctor Advise", home_doctor_advise_path %></li>
						<li><%= link_to "FAQ", home_faq_path %></li>
						<li><%= link_to "Contact", home_contact_path %></li>
					</ul>
				</div>
				<div class="col-md-2 sm-bar">
					<ul class="clearfix">
						<li class="dot"><a href="https://twitter.com/Rosaliemiracle1" class="twitter-icon">Twitter</a></li>
						<li class="dot"><a href="https://www.facebook.com/pages/Miracle-Back-Brace/593091704154647" class="facebook-icon">Facebook</a></li>
						<!-- <li class="dot"><a href="#" class="pintrest-icon">Pintrest</a></li> -->
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>