<!DOCTYPE html>
<html>
<head>
  <title>Miracle Back Brace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= render :partial => 'layouts/header' %>
	</header>
	<%= yield %>
	<footer id="contact">
		<%= render :partial => 'layouts/footer' %>
	</footer>
</body>
</html>
